/*------------------------------------------MOBILES---------------------------------------------------*/

@media screen and (max-width: 768px) {
    body{
        width: auto;
        margin: auto;
    }
    #menu{
        display: flex;
        margin: 0;
    }
    #menu img{
        width: 150px;
    
        
    }
    #menu a{
        width: auto;
        font-size: 18px;
        margin-left: 5px;
        padding: 10px;
    }
    #menu_item a:hover{
        border-top: none;
        color: #0065FC;
        border-bottom: 3px #0065FC solid;
        padding-bottom: 5px;
    }
    #search{

        width: 50%;
    }
    #bouton{
        max-width: 35%;
    }
    #filtre ul{
        

        
    }
}


/*------------------------------------------TABLETTES---------------------------------------------------*/

@media screen and (min-width: 768px) and (max-width: 991px) {
    body{
        width: auto;
        margin: 10px;
    }
    #menu {
        margin: 0;
    }
    #menu a{
        color: red;
        width: auto;
    }
    #menu_item a:hover{
        border-top: none;
        color: #0065FC;
        border-top: 3px #0065FC solid;
        padding-top: 5px;
    }
    #filtre ul{
        
    }
}