/*------------------------------------------MOBILES---------------------------------------------------*/

@media screen and (max-width: 768px) {
    body{
        width: auto;
        margin: 5px;
    }
    #menu{
        display: flex;
        flex-direction: column;
        
    }
    #menu img{
        
        width: 150px;
    }
    #menu_item{
        display: flex;
        justify-content: space-between;
        margin: 0;
        
        
        
    }
    #menu a{
        
        font-size: 18px;
        padding: 50%;
        padding-bottom: 5px;
        border-bottom: 3px #f2f2f2 solid;
        
        justify-content: space-around;
        
    }
    #menu_item a:hover{
        
        border-top: none;
        
        color: #0065FC;
        border-bottom: 3px #0065FC solid;
        padding-bottom: 5px;
    }
    #search{

        width: 50%;
    }
    #bouton{
        initial-value: none;
        max-width: 35%;
    }
    .card{
        min-height: 150px;

        
    }

    section{
        flex-wrap: wrap;
    }
}


/*------------------------------------------TABLETTES---------------------------------------------------*/

@media screen and (min-width: 768px) and (max-width: 991px) {
    body{
        width: auto;
        margin: 10px;
    }
    #menu {
        margin: 0;
    }
    #menu a{
        color: red;
        width: auto;
    }
    #menu_item a:hover{
        border-top: none;
        color: #0065FC;
        border-top: 3px #0065FC solid;
        padding-top: 5px;
    }
    #filtre ul{
        
    }
}