@font-face { /* Permet de télécharger une police décriture pour l'intégrer au site */
    font-family: "raleway";
    src: url('/Raleway/Raleway-Regular.ttf');
    src: url('/Raleway/Raleway-Italic.ttf');
    src: url('/assets/Ralaway/Raleway-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    width: auto;
    box-sizing: border-box;
    font-family: 'Raleway', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 100px;
}


/*------------------------------------------HEADER------------------------------------------*/
#menu{
    margin: auto; /*marge exterieur*/
    padding: 0; /*marge interieur*/
    display: flex;
    justify-content: space-between;
    
}

#menu a{
    font-size: 24px;
    color: inherit; 
    text-decoration: none;
    margin-left:50px;
    padding: 20px;
}
header ul a{
    text-decoration: none;
}

#menu_item a:hover{
    color: #0065FC;
    border-top: 3px #0065FC solid;
    padding-top: 97px;
    
}
header h1 + p{
    font-size: 24px;
}
/* ----------icone--formulaire de recherche--bouton--------- */
#recherche{
    display: flex;
    align-items: flex-start;
}
#locate{
    background-color: #F2f2f2;
    
    padding: 20px;
    border-radius: 10px 0 0 10px;
}
#search{
    width: 468px;  
    height: 56px;
    font-family: 'Raleway';
    font-size: 26px;
                        /*<<<------<<<-------<<--champs de recherche grisé, voir pour changer  */
    border: 2px solid #f2f2f2 ;
}
#bouton{
    width: 160px;
    height: 56px;
    color: white;
    font-size: 24px;
    background-color: #0065fc;
    border: none;
    border-radius: 0 10px 10px 0;
}

/* ---------------------------Filtres--------- */
#filtre{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 25px;
}
#filtre a{
    text-decoration: none;
    color: inherit;
    
    
}
#filtre ul{
    display: flex;
    list-style-type: none;
    gap: 20px; /*A VERIFIER*/
    
}

#filtre li i{
    position:inherit;
    background-color: #deebff;
    color: #0065fc;
    padding: 20px;
    border-radius: 50%;
}
#filtre li{
    padding-right: 10px;
    
    
    
    border:2px solid #d9d9d9;
    
    border-radius: 0 50px 50px 0;
    border-left: none;
    
}

/* 
-------------------------------comment faire des bords rond quand le logo est fin */
header p i{
    margin-right: 15px;
    border: 1px solid #d9d9d9;
    padding: 5px;
     
    border-radius:  50px;
}
/* ---------------------------------------------------ARTICLE----------------- */

