@font-face { /* Permet de télécharger une police décriture pour l'intégrer au site */
    font-family: "raleway";
    src: url('/Raleway/Raleway-Regular.ttf');
    src: url('/Raleway/Raleway-Italic.ttf');
    src: url('/assets/Ralaway/Raleway-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    width: auto;
    box-sizing: border-box;
    font-family: 'Raleway', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 100px;
}


/*------------------------------------------HEADER------------------------------------------*/
#menu{
    margin: auto; /*marge exterieur*/
    padding: 0; /*marge interieur*/
    display: flex;
    justify-content: space-between;
    
}

#menu a{
    font-size: 24px;
    color: inherit; 
    text-decoration: none;
    margin-left:50px;
    padding: 20px;
}
header ul a{
    text-decoration: none;
}

#menu_item a:hover{
    color: #0065FC;
    border-top: 3px #0065FC solid;
    padding-top: 97px;
    
}
header h1 + p{
    font-size: 24px;
}
/* ----------icone--formulaire de recherche--bouton--------- */
#recherche{
    display: flex;
    align-items: flex-start;
}
#locate{
    background-color: #F2f2f2;
    
    padding: 20px;
    border-radius: 20px 0 0 20px;
}
#search{
    width: 468px;  
    height: 56px;
    font-weight: bold;
    font-size: 26px;
    
    
                        /*<<<------<<<-------<<--champs de recherche grisé, voir pour changer  */
    border: 2px solid #f2f2f2 ;
}
#bouton{
    width: 160px;
    height: 56px;
    color: white;
    font-size: 24px;
    background-color: #0065fc;
    
    border: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}
#bouton:hover{
    background-color: #f2f2f2;
    color: #0065fc;
}

/* ---------------------------Filtres--------- */
.filtre{
    display: flex;
    align-items: center;
    
    
}
.filtre a{
    display: flex;
    justify-content: center;
    
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}
.icone_et_filtre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
}

.filtre li{
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
    border: 2px solid #d9d9d9;
    border-left: none;
}
.icones{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    width: 52px;   /* on ajoute 2px pour anticiper le bord qui doit depasser du bord de filtre li*/
    height: 52px;
    color: #0065FC;
    background-color: #deebff;
}
.filtre li a{
    padding-left: 15px;
    
}
/* A ameliorer------------------------------------------------------------- */
.filtre a:hover{
    color: #0065FC;
}


/* --------------icone information-------- */
.icone{
    display: flex;
    align-items: center;
    font-size: 20px;
    
}
.icone i{
    color: #0065fc;
    font-size: 16px;
    margin-right: 15px;
    border: 1px solid #d9d9d9;
    padding: 5px 10px;
    border-radius: 50px;
}
/* ---------------------------------------------------ARTICLE----------------- */
section{
    display: flex;

}
section h1, .titre_populaire{
    font-size: 36px;
}
article{
    max-width: 1760px;
    height: auto;
    background: #f2f2f2;
    border-radius: 50px;
    
    padding: 80px;
    flex: 3;
}
#hebergement{
    display: flex;
    flex-flow: row wrap;
    gap: 62px;
    
}
.card{
    display: flex;
    flex-direction: column;
    min-height: 150px;
    background: white;
    border-radius: 40px;
    padding: 10px;
    
}

.card img{
    /* width: 472px;
    height: 228px; */
    width: 400px;
    height: 220px;
    object-fit: cover;
    border-radius: 40px 40px 0 0;
}



.blue{
    color: #0065fc;
    margin-top: 10px;
}
.grey{
    color: #d9d9d9;
}

/* ------------------------------------------------------ASIDE----------------------------------- */
aside{
    flex: 1.2;
    background: #f2f2f2;
    border-radius: 50px;
    margin-left: 80px; 
    padding-right: 74px;
    padding-left: 74px;
    
}
.titre_populaire{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.card_pop{
    display: flex;
    
    
    background: white;
    border-radius: 40px;
    padding: 10px;
    margin-bottom: 66px;
    gap: 30px;
    
    
}

.card_pop img{
    width: 254px;
    height: 268px;
    object-fit: cover;
    border-radius: 40px 0 0 40px;
}
.card_pop ul{
    list-style-type: none;
}

