@font-face { /* Permet de télécharger une police décriture pour l'intégrer au site */
    font-family: "raleway";
    src: url('/Raleway/Raleway-Regular.ttf');
    src: url('/Raleway/Raleway-Italic.ttf');
    src: url('/assets/Ralaway/Raleway-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    width: auto;
    box-sizing: border-box;
    font-family: 'Raleway', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 100px;
}


/*------------------------------------------HEADER------------------------------------------*/
#menu{
    margin: auto; /*marge exterieur*/
    padding: 0; /*marge interieur*/
    display: flex;
    justify-content: space-between;
    
}

#menu a{
    font-size: 24px;
    color: inherit; 
    text-decoration: none;
    margin-left:50px;
    padding: 20px;
}
header ul a{
    text-decoration: none;
}

#menu_item a:hover{
    color: #0065FC;
    border-top: 3px #0065FC solid;
    padding-top: 97px;
    
}
header h1 + p{
    font-size: 24px;
}
/* ----------icone--formulaire de recherche--bouton--------- */
#recherche{
    display: flex;
    align-items: flex-start;
}
#locate{
    background-color: #F2f2f2;
    
    padding: 20px;
    border-radius: 10px 0 0 10px;
}
#search{
    width: 468px;  
    height: 56px;
    font-family: 'Raleway';
    font-size: 26px;
                        /*<<<------<<<-------<<--champs de recherche grisé, voir pour changer  */
    border: 2px solid #f2f2f2 ;
}
#bouton{
    width: 160px;
    height: 56px;
    color: white;
    font-size: 24px;
    background-color: #0065fc;
    border: none;
    border-radius: 0 10px 10px 0;
}

/* ---------------------------Filtres--------- */
#filtre{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#filtre a{
    text-decoration: none;
    color: inherit;
}
#filtre ul{
    display: flex;
    list-style-type: none;
    gap: 20px; /*A VERIFIER*/
    flex-wrap: wrap;
    
    
}
                    /* -------------------------------leger probleme au niveau ds bordures a regler et reduire la taille en version mobile */

#filtre li{
    padding-right: 10px;
    border:2px solid #d9d9d9;
    border-radius: 50px 50px 50px 50px ;
    border-left: none;
}
#filtre li i{
    position:inherit;
    background-color: #deebff;
    color: #0065fc;
    padding: 20px;
    border: 4px solid #deebff;
    border-radius: 50px ;
}
#filtre li a{
    padding-left: 15px;
    
}

header p i{
    margin-right: 15px;
    border: 4px solid #d9d9d9;
    padding: 5px;
    border-radius: 50px;
}
/* ---------------------------------------------------ARTICLE----------------- */
section{
    display: flex;

}
article{
    background: #f2f2f2;
    border-radius: 50px;
    height: auto;
    padding: 80px;
    flex: 3;
}
#hebergement{
    display: flex;
    flex-direction: row;
    gap: 62px;
    flex-wrap: wrap;
    
}
.card{
    display: flex;
    flex-direction: column;
    object-fit: contain;
    background: red;
    border-radius: 40px;
    padding: 10px;
    
}
.card img{
    width: 275px;
    height: 175px;
    border-radius: 40px 40px 0 0;
}



.star{
    color: #0065fc;
}
.star span{
    color: #d9d9d9;
}

/* ------------------------------------------------------ASIDE----------------------------------- */
aside{
    
    flex: 1.2;
    background: #f2f2f2;
    border-radius: 50px;
    margin-left: 80px;
    
}
.card_pop{
    display: flex;
}
.card_pop img{
    width: 220px;
    height: 268px;
}
.card_pop ul{
    list-style-type: none;
}
.card_pop i{
    color: #0065fc;
}
.star_pop span{
    color: #d9d9d9;

}
