/*------------------------------------------MOBILES---------------------------------------------------*/

@media screen and (max-width: 767px) {
    body{
        width: auto;
    }
    .marge{
        margin: 5px;
    }
    #menu{
        display: flex;
        flex-direction: column;
        text-align: center; 
    }
    #menu img{
        width: 120px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #menu_item{
        display: flex;
        margin: 0;
    }
    #menu a{
        width: 100%;
        font-size: 18px;
        font-weight: 500;
        margin-left: 0;
        padding: 0;
        padding-bottom: 15px;
        border-bottom: 3px #f2f2f2 solid;
    }
    #menu_item a:hover{
        border-top: none;
        padding-top: 0;
        border-bottom: 3px #0065FC solid;
        color: #0065FC;
    }
    h1{
        font-size: 24px;    
        font-weight: 700;
        padding-left: 20px;
        margin-top: 25px;
    }
    header h1 + p{
        font-size: 17px;
        font-weight: 500;
        padding-left: 20px;
        margin-bottom: 30px;
    }
    /* RECHERCHE */
    #locate{
        padding: 18px;
    }
    #recherche{
        align-items: center;
        width: 85%;
        margin-left: 5%;
        margin-bottom: 40px;
        
    }
    #search{
        font-size: 20px;
    }
    #bouton{
        display: none;
    }
    #bouton_s{
        display: flex;
        height: 25px;
        background-color: #0065fc;
        padding: 17px;
        border-radius: 20px;
        
    }
    

    .filtre{
        flex-direction: column;
        align-items: flex-start;
    }

    .icone_et_fitlre{
        flex-flow: row wrap;
    }
    .filtre ul{
        padding-inline-start: 0;
        margin-left: 20px;

    }
    .filtre li{
        /* reduit la marge a droite et augmente celle du bas pour créer les espaces */
        margin-right: 10px;
        margin-bottom: 10px;
    }
    
    .icone{
        margin-left: 10px;
        font-size: 16px;
        margin-bottom: 20px;
    }

    
    .section1{
        /* on affiche en colonnes inversé. vu que les plus populaires s'affiche en premier sur mobile */
        flex-direction: column-reverse;
    }
    .section1 h1, .titre_populaire{
        font-size: 24px;
        font-weight: 800;
        margin-left: 0;
        padding-left: 0;
    }
    /* LES PLUS POPULAIRES */
    aside{
        margin-left: 0;
        margin-bottom: 20px;
        padding: 4%;
        border-radius: 0;
    }
    .card_pop{
        height: 150px;
        padding: 5px;
        margin-bottom: 3%;
    }
    .card_pop_text{
        font-size: 13px;
        padding-bottom: 6px;
    }
    
    /* HEBERGEMENTS A MARSEILLE */
    .article1{
        margin-left: 3px;
        margin-right: 3px;
        margin-bottom: 30px;
        background: none;
    }
    .article1 h2{
        font-size: 20px;
    }
    .article1 p{
        font-size: 16px;
        margin-top: 1px;
        margin-bottom: 0;
    }
    .star{
        font-size: 12px;
    }
    .hbg1{
        margin-bottom: 0;
    }
    .hbg2{
        margin-bottom: 20px;
        
    }
    .hbg1, .hbg2{
        flex-direction: column;
    }
    .card{
        width: 95%;
        
        margin-bottom: 15px;
        box-shadow: 5px 5px 5px #f2f2f2;
    }
    .card img{
        height: 140px;
    }
    
    /* ACTIVITE A MARSEILLE */
    .activite{
        width: 100%;
        height: auto;
        display: block;
        margin-left: 3px;
        margin-right: 3px;
    }
    #activites{
        padding-left: 0;
        margin-bottom: 30px;
        font-weight: 800;
    }
    .activite h2{
        padding: 15px;
        padding-top: 7px;
        font-size: 20px;
    }
    
    .activite img{
        width: 100%;
        height: 150px;
    }
    .grande_image{
        width: 100%;
    }
    .petite_image1, .petite_image2{
        width: 100%;
        
    }
    .img_1_2, .img_2_2{
        margin-top: 0;
    }
    footer{
        flex-direction: column;
        padding: 0;
        padding-left: 50px;
        padding-bottom: 20px;
        gap: 15px;
    }
    .propos{
        padding-left: 0;
    }
}


/*----------------------------------------------------------------------------------------------------*/
/*------------------------------------------TABLETTES---------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 768px) and (max-width: 991px) {
    body{
        width: auto;
    }
    .marge{
        margin: 10px;
    }
    #menu {
        margin: 0;
    }
    #menu a{
        color: red; /*Couleur provisoire pour differencier entre desktop et mobile*/
        width: auto;
    }
    #menu_item a:hover{
        border-top: none;
        color: #0065FC;
        border-top: 3px #0065FC solid;
        padding-top: 5px;
    }
   
    .icone_et_fitlre{
        flex-flow: row wrap;
    }
    .filtre li{
        /* reduit la marge a droite et augmente celle du bas pour créer les espaces */
        margin-right: 5px;
        margin-bottom: 5px;
    }
    .section1{
        flex-direction: column;
        gap: 15px;
    }
    article{
        margin-left: 10px;

    }
    aside{
        margin-left: 10px;
    }
    .card_pop{
        margin-bottom: 5%;
    }
    .card_pop_text{
        justify-content: space-around;
    }
    .card_pop img{
        width: 100%;
        
    }

    #activites{
        margin-left: 36px;
    }
    .activite{
        width: 100%;
        height: auto;
        display: block;
    }
    .activite h2{
        padding: 25px;
    }
    
    .activite img{
        width: 100%;
        height: 300px;
    }
    .grande_image{
        width: 100%;
    }
    .petite_image1, .petite_image2{
        width: 100%;
        
    }
    .img_1_2, .img_2_2{
        margin-top: 0;
    }
    footer{
        flex-direction: column;
        padding: 0;
        padding-left: 50px;
        padding-bottom: 20px;
        gap: 15px;
    }
    .propos{
        padding-left: 0;
    }
}