@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    width: auto;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
a{
    text-decoration: none;
    color: #000000;

}
    .marge{
    margin: 100px;
}

/* ---------------------------------------------------------------------------------------- */
/*------------------------------------------HEADER------------------------------------------*/
/* ---------------------------------------------------------------------------------------- */
#menu{
    display: flex;
    justify-content: space-between;
    margin: auto; /*marge exterieur*/
    padding: 0; /*marge interieur*/
    
}
#menu img{
    margin: 20px;
}
#menu a{
    font-size: 24px;
    color: inherit; 
    text-decoration: none;
    margin-left:50px;
    padding: 20px;
}

header ul a{
    text-decoration: none;
}

#menu_item a:hover{
    color: #0065FC;
    border-top: 3px #0065FC solid;
    padding-top: 97px;
    
}
header h1 + p{
    font-size: 24px;
}
/* ---------------------------------------------------------------------------------------- */
/* ----------icone--formulaire de recherche--bouton--------- */
/* ---------------------------------------------------------------------------------------- */
#recherche{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 56px;
    border: 2px solid #f2f2f2;
    border-right: none;
    border-left: none;
    border-radius: 20px;
    margin-bottom: 30px;
    
}
#locate{
    background-color: #F2f2f2;
    font-size: 22px;
    padding: 19px;
    border-radius: 20px 0 0 20px;
}
#search{
    width: 100%;
    height: 100%;
    border: none;
    font-size: 26px;
    /* font-family: 'Ralaway'; */
    font-weight: 600;
    padding-left: 20px;
}
#bouton{
    padding: 13.5px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 26px;
    border-radius: 0 20px 20px 0;
    color: white;
    background-color: #0065fc;
    border: none;
    font-family: 'Raleway';
    font-weight: 600;
}
#bouton_s{
    display: none;
}
#bouton:hover{
    background-color: #f2f2f2;
    color: #0065fc;
}

/* ---------------------------------------------------------------------------------------- */
/* ---------------------------Filtres--------- */
/* ---------------------------------------------------------------------------------------- */
.filtre{
    display: flex;
    align-items: center;
    
    
}
.filtre a{
    justify-content: center;
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
    
}
.icone_et_filtre{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
}

.filtre li{
    display: flex;
    align-items: center;
    height: 44px;
    border-radius: 30px;
    margin-right: 20px;
    border: 2px solid #d9d9d9;
    border-left: none;
}
.icones{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 25px;
    width: 48px;   /* j'ajoute 2px pour anticiper le bord qui doit depasser du bord de filtre li*/
    height: 48px;
    color: #0065FC;
    background-color: #deebff;
}
.filtre li a{
    padding-left: 15px;
    
}

.filtre ul li:hover{
    color: #f2f2f2;
    background: #0065FC;
}


/* -----icone information----- */
.icone{
    display: flex;
    align-items: center;
    font-size: 20px;
    
}
.icone i{
    color: #0065fc;
    font-size: 16px;
    margin-right: 15px;
    margin-left: 15px;
    border: 1px solid #d9d9d9;
    padding: 5px 10px;
    border-radius: 50px;
}
/* ---------------------------------------------------------------------------------------- */
/* ---------------------------------------------------ARTICLE----Hebergement a marseille-------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */
.section1{
    display: flex;
}
.section1 h1, .titre_populaire{
    font-size: 36px;
    margin-left: 10px;
}
.article1{
    max-width: 1760px;
    background: #f2f2f2;
    border-radius: 50px;
    
    padding-bottom: 2%;
    padding-right: 1%;
    padding-left: 1%;
    flex: 3;
}

.hbg1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    
}
.hbg2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.card h2 {
    margin-left: 5%;
    margin-block-start: 2%;
    margin-block-end: 1%;
    
}
.card p{
    margin-left: 5%;
    margin-block-start: 2%;
    margin-block-end: 1%;
}

.card{
    display: flex;
    flex-direction: column;
    width: 30%;
    
    min-height: 150px;
    background: white;
    border-radius: 20px;
    padding: 1%;
    box-shadow: 2px 2px 10px #e7e7e7;
    
}
/* effet au survol de la card, elle grossit 1.05x */
.card:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.card img{
    width: 100%;
    height: 200px;
    
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}


/* couleurs des etoiles */
.star{
    margin-left: 5%;
    margin-block-end: 2%;/* marge sous le block star*/
}
.blue{
    color: #0065fc;
    margin-top: 10px;
}
.grey{
    color: #d9d9d9;
}
/* text afficher plus */
article span{
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}
/* ---------------------------------------------------------------------------------------- */
/* ------------------------------------------------------ASIDE---Les plus populaires-------------------------------- */
/* ---------------------------------------------------------------------------------------- */
aside{
    flex: 1.2;
    background: #f2f2f2;
    border-radius: 50px;
    margin-left: 80px; 
    padding-right: 1%;
    padding-left: 1%;
}
.titre_populaire{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.card_pop a{
    display: flex;
    height: 210px; 
    background: white;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 8%;
    gap: 20px;
    box-shadow: 2px 2px 10px #e7e7e7;
    
}
/* je met 40% de largeur pour que la photo prenne cette espace 
et 55% pour la description */
.card_pop img{
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}
.card_pop:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.card_pop_text{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ---------------------------------------------------------------------------------------- */
/* -----------------------------------ACTIVITES-------------------------- */
/* ---------------------------------------------------------------------------------------- */
.activite{
    display: flex;
    justify-content: space-between;
    height: 600px;
}
.activite h2{
    margin-left: 4%;
    margin-block-start: 10px;
}
.activite img{
    object-fit: cover;
}
.grande_image{
    width: 24%;
    box-shadow: 5px 5px 10px #f2f2f2;
    border-radius: 25px;
}
.grande_image h2{
    margin-block-start: 10px;
}
.grande_image img{
    width: 100%;
    height: 530px;
    border-radius: 20px 20px 0 0;
}

.petite_image1, .petite_image2{
    width: 24%;
}
.petite_image1 img{
    width: 100%;
    height: 75%;
    border-radius: 20px 20px 0 0;
}

.img_1_1{
    height: 53%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #f2f2f2;

}
.img_1_2{
    height: 44%;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #f2f2f2;

}

.petite_image2 img{
    width: 100%;
    height: 75%;
    border-radius: 20px 20px 0 0;
}

.img_2_1{
    height: 49%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #f2f2f2;

}
.img_2_2{
    height: 48%;
    margin-top: 20px;
    box-shadow: 5px 5px 10px #f2f2f2;
    border-radius: 20px;
    
}

.grande_image:hover{
    cursor: pointer;
    transform: scale(1.025);
}
.img_1_1:hover{
    cursor: pointer;
    transform: scale(1.025);
}
.img_1_2:hover{
    cursor: pointer;
    transform: scale(1.025);
}
.img_2_1:hover{
    cursor: pointer;
    transform: scale(1.025);
}
.img_2_2:hover{
    cursor: pointer;
    transform: scale(1.025);
}
/* ---------------------------------------------------------------------------------------- */
/* -----------------------------------FOOTER-------------------------- */
/* ---------------------------------------------------------------------------------------- */
footer{
    display: flex;
    margin-top: 50px;
    background-color: #f2f2f2;
    padding: 30px;
    gap: 20%;
}
footer h3{
    padding-bottom: 15px;
}
.propos{
    padding-left: 70px;
}